ul.messages{
    overflow-y: scroll;
    height:calc(100% - 250px )
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    width: 10px;
    background-color: #ddd;
    height: 10px;
    transition: 0.6;
}
::-webkit-scrollbar-track:hover{
    background-color: #aaa;
}


.message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 6px 0;
    transition: 0.5s;
}
.message:hover{
    background-color: #eee;
}

.message .img{
    width: 70px;
    border-radius: 100px;
    object-fit: cover;
    margin: 10px;
    user-select: none;
}

.bottom-divider{
    width: 70%;
    margin: 0 auto;
    opacity: 0.4;
}

.time-stamp{
    margin: 0 10%;
    user-select: none;
    font-size: 15px;
    letter-spacing: -1px;
    font-weight: 500;
    width: 100px;
}

.last-msg{
    opacity: .7;
 align-self: flex-start;
}

.rt-col{
transform: translateX(-20%);
text-align: left;

/* background-color: hotpink; */
}

.rt-col .act{
align-self: flex-end;
margin: 6px 0;
background-color: rgb(78, 248, 78);
padding: 4px;
transform: translateX(-40px);
font-size: 15px;
color: #fff;
border-radius: 40px;
}